@model Course
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <h2>@ViewBag.count</h2>
    <h2> @( ((Course)ViewBag.course).Name )</h2>
    <h1>  @(  ((Course)ViewData["course"]).Name   )</h1>


    @Model.Name

</body>
</html>
